.container{
    background-color: #6b7280;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
}

.nome{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #111827;
}

.colecao{
    display: flex;
    justify-content: space-around;
}

.colecao span{
    color: white;
}

.descricao{
    text-align: center;
}

.lateralComentario{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nota{
    display:block;
    text-align: center;
    color: #111827;
    border-radius: 8px;
}

.comentarios{
    margin-top: 1rem;
    display:block;
    text-align:justify;
    color: white;
    padding: 1rem;
    border-bottom: 1px solid #111827;
}

.comentariosNome{
    display: flex;
}

.comentariosNome span{
    color: #111827;
}

.adicionarComentario{
    width: 24rem;
    border-radius: 8px;
}